@font-face {
    font-family: 'rocket_pop_punchregular';
    src: url('../css/fonts/rocketpop-webfont.woff2') format('woff2'),
         url('../css/fonts/rocketpop-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'rocket_pop_punchregular', arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}
