@font-face {
    font-family: "rocketpop";
    src: url("../css/fonts/rocketpop-webfont.woff2") format("woff2"),
         url("../css/fonts/rocketpop-webfont.woff") format("woff"),
         url("../css/fonts/rocketpop.otf") format("otf");
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'rocketpop';
    font-weight: normal;
    font-style: normal;
}
